<div id="rteSection">
    <ejs-richtexteditor #exampleRTE [toolbarSettings]='customToolbar'>
    <ng-template #valueTemplate>
        <p style="margin-right:10px">The custom command "insert special character" is configured as the
            last item of the toolbar.
            Click on the command and choose the special character you want to include from the popup.
        </p>
    </ng-template>
    </ejs-richtexteditor>
    <ejs-dialog #sampleDialog id="rteDialog" width='43%' header='Special Characters' showCloseIcon='true'
     [visible]='false' isModal="true" [buttons]='dialogButtons' (created)="dialogCreate()">
     <ng-template #content>
        <div id="rteSpecial_character">
            <div class="char_block" title="^">^</div>
            <div class="char_block" title="_">_</div>
            <div class="char_block" title="|">|</div>
            <div class="char_block" title="¡">¡</div>
            <div class="char_block" title="¢">¢</div>
            <div class="char_block" title="£">£</div>
            <div class="char_block" title="¤">¤</div>
            <div class="char_block" title="¡">¡</div>
            <div class="char_block" title="¢">¢</div>
            <div class="char_block" title="£">£</div>
            <div class="char_block" title="¤">¤</div>
            <div class="char_block" title="¥">¥</div>
            <div class="char_block" title="₹">₹</div>
            <div class="char_block" title="¦">¦</div>
            <div class="char_block" title="§">§</div>
            <div class="char_block" title="¨">¨</div>
            <div class="char_block" title="©">©</div>
            <div class="char_block" title="ª">ª</div>
            <div class="char_block" title="«">«</div>
            <div class="char_block" title="¿">¿</div>
            <div class="char_block" title="¶">¶</div>
        </div>
    </ng-template>
    </ejs-dialog>
</div>